{% extends 'dashboard.html' %}

{% block title %}Add Client{% endblock %}

{% block content %}
    <h1>Add Client</h1>

    <form method="post" action="/clients/add">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" placeholder="Client Name" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" placeholder="Client Email" required><br><br>

        <label for="phone">Phone:</label><br>
        <input type="tel" id="phone" name="phone" placeholder="Client Phone" pattern="^[0-9]{10}$" required><br><br>

        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" placeholder="Client Address"><br><br>

        <button type="submit">Add Client</button>
    </form>
{% endblock %}