{% extends 'dashboard.html' %}

{% block title %}Clients{% endblock %}

{% block content %}
    <h1>Clients</h1>
    <ul>
        {% for client in clients %}
        <li>
            {{ client.name }} - {{ client.email }} - {{ client.phone }}
            <a href="/clients/edit/{{ client.id }}">Edit</a>
            <form action="/clients/delete/{{ client.id }}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
{% endblock %}