{% extends 'dashboard.html' %}

{% block title %}Completed Projects{% endblock %}

{% block content %}
    <h1>Completed Projects</h1>
        <ul>
            {% for completed_project in completed_projects %}
            <li>
                {{completed_project.id }} - 
                {{ completed_project.name }} - 
                {{ completed_project.client_id }}:{{ completed_project.client.name }} - 
                {{ completed_project.deadline}} - 
                {% if completed_project.consultants %}
                    {% for consultant in completed_project.consultants %}{{ consultant.id }}:{{ consultant.fullname }}{% if not loop.last %}, {% endif %}{% endfor %}
                {% else %}
                    No Consultant Assigned
                {% endif %} -
                {{ completed_project.description }}
            </li>
            {% else %}
            <li>No Projects available.</li>
            {% endfor %}
        </ul>

{% endblock %}