{% extends 'dashboard.html' %}

{% block title %}Completed Projects{% endblock %}

{% block content %}
    <h1>Completed Projects</h1>
        <ul>
            {% for completed_project in completed_projects %}
            <li>
                {{completed_project.id }} - 
                {{ completed_project.name }} - 
                {{ completed_project.client_id }} - 
                {{ completed_project.deadline}} - 
                {{ completed_project.consultant_id }} - 
                {{ completed_project.description }} - 
                {{ completed_project.consultants if completed_project.consultants else "None" }}
            </li>
            {% else %}
            <li>No Projects available.</li>
            {% endfor %}
        </ul>

{% endblock %}