{% extends 'dashboard.html' %}

{% block title %}Add Client{% endblock %}

{% block content %}  

<h2>Edit Project</h2>

<form action="/projects/edit/{{ project.id }}" id="project-form" method="POST">
    
    <label for="project-name">Project Name:</label>
    <input type="text" id="project-name" name="project-name" placeholder="Project name" aria-required="true" required>

    <label for="client-id">Client ID:</label>
    <input type="text" id="client-id" name="client-id" placeholder="Client ID" aria-required="true" required>
    
    <label for="date">Deadline(YYYY-MM-DD):</label>
    <input type="date" id="deadline" name="deadline">

    <label for="description">Project Description:</label>
    <textarea id="description" name="description" placeholder="Project description" rows="5"></textarea>
    
    <label for="team-members">Assign Consultants to Project:</label>
    <select id="team-members" name="team-members" multiple required>
        <option value="team-member-1">GEORGE</option>
        <option value="team-member-2">JOANA</option>
        <option value="team-member-3">NIKOS</option>
        <option value="team-member-4">ANNA</option>
    </select>

    <button type="submit">Submit Changes</button> 
</form>

<h2>TASKS </h2>

<style>

    h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #030303;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="date"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

    textarea {
        resize: vertical;
    }

    button {
        background-color: #0d0d0e;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        display: block;
        width: 100%;
    }

    button:hover {
        background-color: #080808;
    }

    footer {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        color: #555;
    }
</style>

{% endblock %}