{% extends 'dashboard.html' %}

{% block title %}Edit Task{% endblock %}

{% block content %}

<h1>Edit Task</h1>

<form id="task-form" action="/projects/tasks/edit/{{ task.id }}" method="post">
    
    <label for="task-name">Task Name:</label>
    <input type="text" id="name" name="name" placeholder="Task name" value="{{ task.name }}" aria-required="true" required>

    <label for="project-id">Project Name:</label>
    <select id="project-id" name="project-id" required>
        {% for project in projects %}
        <option value="{{ project.id }}" {% if project.id == selected_project %}selected{% endif %}>{{ project.name }}</option>
        {% else %}
            <option disabled>No projects available</option>
        {% endfor %}
    </select>

    <label for="date">Deadline:</label>
    <input type="date" id="deadline" name="deadline" value="{{ task.deadline }}">

    <label for="consultants">Assign Consultant:</label>
    <select id="consultants" name="consultant_id">
        {% for consultant in consultants %}
            <option value="{{ consultant.id }}" {% if consultant.id == selected_consultant %}selected{% endif %}>{{ consultant.fullname }}</option>
        {% else %}
            <option disabled>No consultants available</option>
        {% endfor %}
    </select>

    <label for="priority">Task Priority:</label>
    <input type="number" id="priority" name="priority" placeholder="Task priority" value="{{ task.priority }}" min="1" max="10" step="1" required>

    <label for="description">Task Description:</label>
    <textarea id="description" name="description" placeholder="Task description" rows="5">{{ task.description }}</textarea>

    <label for="status">Status:</label>
    <select id="status" name="status">
        <option value="To Do" {% if task.status == 'To Do' %}selected{% endif %}>To Do</option>
        <option value="In Progress" {% if task.status == 'In Progress' %}selected{% endif %}>In Progress</option>
        <option value="Completed" {% if task.status == 'Completed' %}selected{% endif %}>Completed</option>
    </select>


    <button id="submit-button" type="submit">Submit Changes</button> 
</form>

<h2>Delete Task</h2>
<form action="/projects/tasks/delete/{{ task.id }}" method="post" style="display:inline;">
    <button type="submit" onclick="return confirm('Are you sure you want to delete this project?')">Delete</button>
</form>

<style>

    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #030303;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

    textarea {
        resize: vertical;
    }

    #submit-button {
        background-color: #0d0d0e;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        display: block;
        width: 100%;
    }

    button:hover {
        background-color: #080808;
    }

    footer {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        color: #555;
    }
</style>

{% endblock %}